.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-top: 98px;
    transition: all 0.5s linear;
}

@media (max-width: 768px) {
    .container {
        padding-top: 50px;
    }
  }
