.container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.div_form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.p_send_message {
    margin-bottom: 20px
}

.input {
    max-width: 629px;
    width: 100%;
    min-width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3F3F3F;
    padding: 5px;
    padding-left: 20px;
    outline: none;
    border: none;
    margin-bottom: 22px;
    color: #8B8B8B;
}

.div_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div_social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.p_social {
    font-size: 0.8rem;
}

.textarea {
    height: 250px;
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .p_send_message {
        margin-top: 40px;
    }
}
