.card_container {
    max-width: 503px;
    width: 100%;
    aspect-ratio: 1.8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background: var(--background-card-color);
    padding: 20px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-out;
    z-index: 2;
    border: 1px solid #656565;
}

.card_container:hover{
    transform: rotateX(-5deg ) rotateY(5deg);
}

.card_container::before {
    width: 100%;
    height: 100%;
    content: "";
    left: 0px;
    top: 0px;
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.12), transparent 40%);
    position: absolute;
    opacity: 0;
    transition: opacity 500ms;
}

.card_container:hover::before{
    opacity: 1;
}

.div_image {
    width: 210px;
    height: 230px;
    position: relative;
    margin-right: 5px;
}

.card_right {
    height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.p {
    font-size: 0.9rem;
    text-align: justify;
    max-width: 201px;
}

.hyperLink {
    text-decoration: underline;
    font-size: 0.6rem;
}

@media (max-width: 450px) {
    .card_container {
        padding: 10px;
        flex-direction: column;
    }

    .div_image {
        width: 100%;
        margin-bottom: 10px;
    }

    .card_right {
        width: 100%;
    }

    .p {
        font-size: 0.8rem;
        max-width: 80%;
  }
}